In [1]:
import OpenSimula as oms

p1_dic = {
    "name": "project 1",
    "components": [
        {
            "type": "Test_component",
            "name": "comp 1",
            "boolean": True,
            "string": "Hola mundo",
            "int": 24,
            "float": 34.5,
            "options": "Two",
            "boolean_list": [True, True],
            "string_list": ["Hola 1", "Hola 2"],
            "int_list": [1, 2],
            "float_list": [1.1, 2.1],
            "options_list": ["Two", "Two"],
        },
        {
            "type": "Test_component",
            "name": "comp 2",
            "boolean": True,
            "string": "Hola mundo",
            "int": 24,
            "float": 34.6,
            "options": "Two",
            "component": "comp 1",
        },
    ],
}

p2_dic = {
    "name": "project 2",
    "components": [
        {
            "type": "Test_component",
            "name": "comp 3",
            "component": "project 1->comp 1",
            "component_list": ["project 1->comp 1", "project 1->comp 2"],
        }
    ],
}

In [2]:

sim = oms.Simulation()
p1 = oms.Project("p1",sim)
p1.read_dict(p1_dic)
sim

Reading project data from dictonary
Reading completed.
Checking project: project 1
ok

In [3]:
p1.component_dataframe()

     name            type                  description
0  comp 1  Test_component  Dummy component for testing
1  comp 2  Test_component  Dummy component for testing

In [4]:
p1.component_list()[0].parameter_dataframe()

               key                      type                        value unit
0             name          Parameter_string                       comp 1
1      description          Parameter_string  Dummy component for testing
2             type          Parameter_string               Test_component
3          boolean         Parameter_boolean                         True
4           string          Parameter_string                   Hola mundo
5              int             Parameter_int                           24    h
6            float           Parameter_float                         34.5    m
7          options         Parameter_options                          Two
8        component       Parameter_component                  not_defined
9     boolean_list    Parameter_boolean_list                 [True, True]
10     string_list     Parameter_string_list             [Hola 1, Hola 2]
11        int_list        Parameter_int_list                       [1, 2]    h
12      float_list      Parameter_float_list                   [1.1, 2.1]    m
13    options_list    Parameter_options_list                   [Two, Two]
14  component_list  Parameter_component_list   [not_defined, not_defined]

In [5]:
p1.component("comp 2").parameter_dataframe()

,key,type,value,unit
0,name,Parameter_string,comp 2,
1,description,Parameter_string,Dummy component for testing,
2,type,Parameter_string,Test_component,
3,boolean,Parameter_boolean,True,
4,string,Parameter_string,Hola mundo,
5,int,Parameter_int,24,h
6,float,Parameter_float,34.6,m
7,options,Parameter_options,Two,
8,component,Parameter_component,comp 1,
9,boolean_list,Parameter_boolean_list,"[True, False]",
10,string_list,Parameter_string_list,"[Hello World 1, Hello World 2]",
11,int_list,Parameter_int_list,"[50, 100]",h
12,float_list,Parameter_float_list,"[0.1, 0.2]",m
13,options_list,Parameter_options_list,"[One, Two]",
14,component_list,Parameter_component_list,"[not_defined, not_defined]",

In [6]:
p2 = oms.Project("p2",sim)
p2.read_dict(p2_dic)
p2.parameter_dataframe()

Reading project data from dictonary
Reading completed.
Checking project: project 2
ok

,key,type,value,unit
0,name,Parameter_string,project 2,
1,description,Parameter_string,Description of the project,
2,time_step,Parameter_int,3600,s
3,n_time_steps,Parameter_int,8760,
4,initial_time,Parameter_string,01/01/2001 00:00:00,
5,simulation_order,Parameter_string_list,"[File_data, File_met, Day_schedule, Week_sched...",

In [7]:
p2.component_dataframe()

     name            type                  description
0  comp 3  Test_component  Dummy component for testing

In [8]:
p2.component_list()[0].parameter_dataframe()

,key,type,value,unit
0,name,Parameter_string,comp 3,
1,description,Parameter_string,Dummy component for testing,
2,type,Parameter_string,Test_component,
3,boolean,Parameter_boolean,False,
4,string,Parameter_string,Hello World,
5,int,Parameter_int,100,h
6,float,Parameter_float,0.1,m
7,options,Parameter_options,One,
8,component,Parameter_component,project 1->comp 1,
9,boolean_list,Parameter_boolean_list,"[True, False]",
10,string_list,Parameter_string_list,"[Hello World 1, Hello World 2]",
11,int_list,Parameter_int_list,"[50, 100]",h
12,float_list,Parameter_float_list,"[0.1, 0.2]",m
13,options_list,Parameter_options_list,"[One, Two]",
14,component_list,Parameter_component_list,"[project 1->comp 1, project 1->comp 2]",

In [9]:
p2.simulate()

Component: comp 3 Starting simulation ...
Component: comp 1 Starting simulation ...
Component: comp 2 Starting simulation ...
Simulating project 2: 10% 20% 30% 40% 50% 60% 70% 80% 90% 100%  End
Component: comp 3 Ending simulation ...
Component: comp 1 Ending simulation ...
Component: comp 2 Ending simulation ...

In [10]:
p2.component("comp 3").variable_dataframe()

                    date       t [s]
0    2001-01-01 00:00:00         0.0
1    2001-01-01 01:00:00      3600.0
2    2001-01-01 02:00:00      7200.0
3    2001-01-01 03:00:00     10800.0
4    2001-01-01 04:00:00     14400.0
...                  ...         ...
8755 2001-12-31 19:00:00  31518000.0
8756 2001-12-31 20:00:00  31521600.0
8757 2001-12-31 21:00:00  31525200.0
8758 2001-12-31 22:00:00  31528800.0
8759 2001-12-31 23:00:00  31532400.0

[8760 rows x 2 columns]

In [11]:
sim.message_list()

['Reading project data from dictonary',
 'Reading completed.',
 'Checking project: project 1',
 'ok',
 'Reading project data from dictonary',
 'Reading completed.',
 'Checking project: project 2',
 'ok',
 'Component: comp 3 Starting simulation ...',
 'Component: comp 1 Starting simulation ...',
 'Component: comp 2 Starting simulation ...',
 'Simulating project 2: 10% 20% 30% 40% 50% 60% 70% 80% 90% 100%  End',
 'Component: comp 3 Ending simulation ...',
 'Component: comp 1 Ending simulation ...',
 'Component: comp 2 Ending simulation ...']